{# templates/page/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}EcoIT : Mentions Légales{% endblock %}

{% block body %}
    <main>
        <section class="welcome d-flex align-items-center justify-content-center text-center">
            <h1>Mentions Légales</h1>
        </section>

        <section class="recent_formation">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam quis ultricies eros, ac pharetra purus. 
            Nam pellentesque lectus id nisi viverra rutrum id in sapien. 
            Nam pellentesque rutrum risus, vitae sollicitudin elit ultrices eget. 
            Donec vehicula placerat magna aliquet faucibus. 
            Ut vel neque at risus eleifend placerat. 
            Nullam lacus mauris, cursus a ornare in, rutrum vitae dui. 
            Nam rhoncus volutpat mi id molestie. In varius consequat accumsan. 
            In id sollicitudin erat, ac consequat augue. 
            Nullam maximus et augue et ornare. 
            Cras sit amet arcu aliquet, congue nisl vitae, pharetra nibh. 
            Aliquam sit amet varius neque, a ultricies mi. 
            Sed pharetra ipsum scelerisque tincidunt tincidunt. 
            Proin eget fringilla elit. Nunc vitae fringilla diam, a congue ligula. 
            Donec vitae felis convallis, tempor sapien ut, placerat lacus.</p>

            <p>Integer non volutpat metus. 
            Sed pellentesque nisi nec lorem tristique bibendum. 
            Maecenas iaculis bibendum viverra. 
            Pellentesque non euismod risus, sed placerat diam. 
            Duis ultrices purus a purus pretium varius. 
            Etiam sed consequat mauris. Fusce in feugiat sem. 
            Nullam nec quam in velit convallis sagittis id quis arcu. 
            Aliquam non arcu lorem. Donec fringilla et arcu sed vestibulum. 
            Aenean id ultrices justo. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
            per inceptos himenaeos. Nullam euismod mi et efficitur sodales. 
            Donec placerat lorem sed odio tristique eleifend. 
            Duis finibus felis eros, sed ornare sem gravida sed. 
            Etiam laoreet ex at cursus iaculis.</p>
        </section>
    </main>
{% endblock %}
