{# templates/page/admin/nav_admin.html.twig #}

<div class="admin_content admin_content_nav p-3 d-flex align-items-center justify-content-center">
    <nav>
        <ul>
            <li class="p-3"><a href="{{ path('admin_home') }}">Accueil</a></li>
            <li class="p-3"><a href="{{ path('admin_show_instructors') }}">Liste des formateurs</a></li>
            <li class="p-3"><a href="{{ path('admin_show_student') }}">Liste des étudiants</a></li>
        </ul>
    </nav>
</div>