{# templates/page/admin/welcome_admin.html.twig #}

<section class="welcome w_admin d-flex align-items-center justify-content-center text-center">
    <article>
        <h1>Vous êtes sur l'administration</h1>
    </article>
</section>