{# templates/page/instructor/create_section.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}EcoIT : Créer une section{% endblock %}
{% set user =  app.user.personDetails %}
{% set instructor_details = user.instructorDetails %}

{% block body %}
    <main>
        {{ include('page/instructor/welcome.html.twig') }}

        {% if instructor_details.status == 1 %}
            {% for message in app.flashes('error_intern') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %} 

            <section class="admin_container d-flex gap-5">
                {{ include('page/instructor/nav_instructor.html.twig') }}
                
                <div class="form_global d-flex align-items-center justify-content-center flex-column">
                    <h3 class="text-center">Créer une section</h3>

                    <p>Chaque cours doit être définit dans une section.</p>

                    {% if formations is defined and formations is not empty %}
                        {{ form(form) }}
                    {% else %}
                        <p>Vous avez aucune formation.</p>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
